<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <h1>Sign Up to Messenger</h1>
    <form action="" method="post">
        <label for="fName">First Name</label>
        <input name="fName" id="fName" placeholder="John" type="text">

        <label for="lName">Last Name</label>
        <input name="lName" id="lName" placeholder="Smith" type="text">

        <label for="username">Username</label>
        <input name="username" id="username" placeholder="Username" type="text">

        <label for="password">Password</label>
        <input name="password" id="password" placeholder="Password" type="text">

        <button>Sign Up</button>
    </form>
</body>
</html>